---
layout: page
title: Встречи
permalink: /meetups/
---
<style>
  .one-column {}
  @media (max-width: 767px) {
    .one-column {display: flex; flex-direction: column;}
  }
</style>

{% assign meetups = site.posts | sort: 'meetup_slug' | reverse  %}
<div class="card-columns one-column">
  {% for meetup in meetups %}
    {% if meetup.categories contains 'meetup' %}
      <div class="card card-margin" style="max-width: 30rem;">
        <a href={{meetup.url}}><img class="card-img-top" src="{{meetup.logo}}" alt="{{meetup.title}}"></a>
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{meetup.url}}">{{meetup.title}}</a>
          </h5>
          <p class="font-weight-light">{{meetup.event_date | date: "%Y-%m-%d"}}</p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>