---
layout: page
title: Встречи
permalink: /meetups/
---
{% assign meetups = site.posts | sort: 'meetup_slug' | reverse  %}

<div class="row">
  {% for meetup in meetups %}
    {% if meetup.categories contains 'meetup' %}

    <div class="col-lg-4">
      <div class="card" style="width: 20rem; margin-bottom: 10px">
        <img class="card-img-top" src="{{meetup.logo}}" alt="{{meetup.title}}">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{meetup.url}}">{{meetup.title}}</a>
          </h5>
          <p class="font-weight-light">{{meetup.event_date | date: "%Y-%m-%d"}}</p>
        </div>
      </div>
    </div>

    {% endif %}
  {% endfor %}
</div>


<div class="row">
{% for speaker in site.speakers %}

    {% assign modIndex = forloop.index | modulo: 3 %}
    {% if modIndex == 0 %}
    </div>
    <div class="row">
    {% endif %}
{% endfor %}
</div>