<br>
<br>
<br>

<footer class="container">
    <hr/>

    <div class="row">
        <div class="col-lg-3">
            <small>Сделано с любовью в Воронеже</small>
        </div>

        <div class="col-lg-3">
            Мы в социальных сетях

            <ul class="list-unstyled">
                <li><a href="https://t.me/deeprefactoring">telegram</a></li>
                <li><a href="https://www.youtube.com/channel/UCkmu866apk8FbOMuEIQvH0g">youtube</a></li>
                <li><a href="https://www.slideshare.net/deeprefactoring">slideshare</a></li>
                <li><a href="https://github.com/deeprefactoring/">github</a></li>
                <li><a href="https://www.facebook.com/groups/deeprefactoring/">facebook</a></li>
                <li><a href="https://vk.com/deeprefactoring">vk</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            Информация

            <ul class="list-unstyled">
                <!--<li><a href="#">Прошедшие встречи</a></li>-->
                <li><a href="/speakers">Докладчики</a></li>
                <li><a href="/meetups">Встречи</a></li>
                <li><a href="/submit-paper">Заявка на доклад</a></li>
                <!--<li><a href="#">Посещение мероприятий</a></li>-->
                <li><a href="/about">О Сообществе</a></li>
            </ul>
        </div>
    </div>
</footer>
