<div class="navbar ">
    <div class="container">
        <div class="navbar-header">
            <span href="../" class="navbar-brand">
                <img src="/apple-touch-icon.png" alt="" width="40px">
            </span>
        </div>


        <div class="navbar-collapse" id="nav-main">
            <ul class="nav navbar-nav">
                <!--<li><a href="/">Блог</a></li>-->
                <!--<li><a href="/meetups">Прошедшие встречи</a></li>-->
                <!--<li><a href="/speakers">Список докладчиков</a></li>-->
                <li><a href="/submit-paper">Заявка на доклад</a></li>
                <li><a href="/about">О Сообществе</a></li>
            </ul>
        </div>
    </div>
</div>
