footer {
    min-height: 250px;
}

#block-search {
    margin-top: 10px;
    float: right;
    display: block;
}

#search-input {
    height: 25px;
}

#search-button {
    background: transparent;
    border: none;
}

.meetup-thumbnail {
    height: 320px;
}
.meetup-thumbnail img {
    max-height: 230px;
}
.meetup-thumbnail .caption {
    position: absolute;
    bottom: 0;
}
